.searchbar-container {
    z-index: 10;
}
.searchbar{
    position: fixed;
    z-index: 10;
    top: 75px;
    left: 50%;
    transform: translate(-50%, 0);
}
.searchbar input{
  border: none;
  outline: none;
  border-radius: 5px;
  width: 65vw;
  height: 35px;
    padding: 20px;
  font-size: 16px;
  font-weight:700 ;
  background-color: #dfdfdf;
}
.searchbar button{
  position: relative;
  color: #727272;
  font-size: 22px;
  margin-right: 30px;
  right: 35px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}
.searchbar button:hover{
  color: #0f0f0f;
}