
.containerPokemons{
  display: flex;
  background: linear-gradient(135deg, #fff 55%, #f5a106 45%);
}

.containerLeft{
  margin-top: 125px;
  width: 60vw;
  display: flex;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}
.pokeballBackground{
  opacity: 50%;
  margin-top: 120px;
  width: 450px;
  position: fixed;
}
.pokemonSolo{
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 10;
}
.pokemonSolo.active{
  display: flex;
}
h2{
  font-size: 48px;
}
.pokemonSolo span{
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
}
.pokemonSolo img{
  width: 430px;
}

.containerRight{
  margin-top: 125px;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 40px;
  background: transparent;
}
.listPokemons{
  width: 123%;
  display: flex;
  justify-content: center;
  height: 85vh;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding-bottom: 40px;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f5a106;
}

/* Estilo da alça (thumb) da barra */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #fa1a1a;
}
.containerRight span{
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  background: linear-gradient(115deg, #252525 55%, #5f5f5f 50%);
  border: 2px solid #5f5f5f;
  border-radius: 8px;
  padding: 5px;
  color: #ffa600;
  font-size:18px;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  transition: .5s;
  min-height: 170px;
    max-height: 170px;
}
.ContainerRight span:hover{
  background: linear-gradient(115deg, #c0c0c0 55%, #862304 50%);
  border: 2px solid #f77307;
  color: #f77307;
}
.cardPokemon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalDetails{
  display: none;
}
.modalDetails.active{
  display: flex;
}
.overlayModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modalDetailsContent{
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}
.modalDetailsContent h3{
  font-size: 32px;
}
.closeModalBtn{
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}
.generalDetails{
  position: relative;
}
.generalDetails img{
  position: absolute;
  width: 100%;
  top: 90%;
  left: 46%;
  transform: translate(-50%, -34%);
  opacity: 0.3;
}
.stats, .abilities{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.stats ul, .abilities ul{
  display: flex;
  flex-wrap: wrap;
  gap: 0 22px;
  list-style: none;
  z-index: 1;
}
.stats ul div, .abilities ul div{
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.stats ul div span, .abilities ul div span{
  font-weight: 400;
  font-size: 16px;
}


@media (max-width: 1024px){
  .listPokemons {
    width: 96%;
  }
  .containerLeft {
    width: 75vw;
  }
  .generalDetails img{
    top: 40%;
    left: 65%;
    transform: translate(-50%, -34%);
    width: 80%;
  }
}

@media (max-width: 767px){
  *{
    overflow: hidden;
  }
  h2{
    font-size: 36px;
  }
  .containerPokemons{
    flex-direction: column;
    overflow: hidden;
  }
  .containerLeft, .containerRight{
    width: 100%;
  }
  .containerLeft{
    height: 403px;
    margin-top: 115px;
  }
  .containerRight{
    margin-top: 20px;
    padding: 0 10px;
  }
  .listPokemons{
    width: 100%;
    padding-bottom: 450px;
  }
  .cardPokemon{
    width: 165px !important;
  }
  .pokemonSolo span{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 700;
  }
  .pokemonSolo img{
    width: 280px;
  }
  .pokeballBackground{
    opacity: 50%;
    margin-top: 100px;
    width: 300px;
    position: fixed;
  }
  .containerRight span{
    width: 80px;
    height: 90px;
  }
  .listPokemons img{
    width: 45px;
    height: 45px;
  }
  .listPokemons span{
    font-size: 14px;
  }
  .modalDetailsContent{
    width: 360px;
    height: 450px;
  }
  
}
